<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaebot Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
<body>
    <div id="staff-lines-container">
        <div class="staff-line"></div>
        <div class="staff-line"></div>
        <div class="staff-line"></div>
        <div class="staff-line"></div>
        <div class="staff-line"></div>
    </div>
    <div id="welcome-box">
        <h1>Chaebot</h1>
        <p>환영합니다</p>
        <div class="social-login">
            {% load socialaccount %}
            <img src="{% static 'img/kakao_login.png' %}" alt="카카오 로그인" id="kakao-login-btn" onclick="location.href='{% provider_login_url 'kakao' %}'">
            {% load socialaccount %}
            <img src="{% static 'img/naver_login.png' %}" alt="네이버 로그인" id="naver-login-btn" onclick="location.href='{% provider_login_url 'naver' %}'">
        </div>
    </div>
    <div class="clef">𝄞</div>
    <div class="note note1">♪</div>
    <div class="note note2">♫</div>
    <div class="note note3">♬</div>
    <div class="note note4">♭</div>
    {% load static %}
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
