body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    overflow: auto;
}

.navbar-logo img {
    max-height: 140px; /* 이미지의 최대 높이 설정 */
    max-width: 320px;
    /* 원하는 이미지 크기 및 스타일 조정 */
}

.logo {
    font-weight: bold;
}

.menu a {
    color: white;
    padding: 0 10px;
    text-decoration: none;
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255); /* 배경색 검은색 */
    clip-path: circle(0% at 100% 50%); /* 초기에 화면에 보이지 않음 */
    transition: clip-path 2s ease-out; /* 부드러운 전환 */
}

.container {
    display: flex;
    flex-direction: row; /* 자식 요소를 수평으로 정렬 */
    align-items: center; /* 가로 축에서 중앙 정렬 */
    justify-content: center; /* 세로 축에서 중앙 정렬 */
    height: 50vh;
    position: relative;
    padding-top: 50px; /* 상단바 고려한 상단 패딩 */
}

.left-section {
    flex: 1;
    padding: 20px; /* 패딩 추가 */
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 아이템들을 중앙에 배치 */
}

.drum-image {
    max-width: 100%; /* 이미지가 부모 컨테이너를 넘지 않도록 */
    height: auto; /* 이미지의 비율 유지 */
    margin-bottom: 20px; /* 문구와의 간격 */
}

.slogan {
    font-size: 1.5rem;
    color: #000000; /* 슬로건 색상 */
    font-weight: bold; /* 굵은 글씨 */
}

.upload-section {
    display: flex;
    flex-direction: column; /* 세로 방향으로 자식 요소 정렬 */
    align-items: center; /* 가로 축에서 중앙 정렬 */
    justify-content: center; /* 세로 축에서 중앙 정렬 */
    position: absolute;
    right: 5%; /* 오른쪽 정렬 */
    width: 40%; /* 너비 설정 */
    height: 450px; /* 높이 설정 */
    background: #FFF; /* 배경색 */
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* 그림자 효과 */
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* 박스 너비를 부모 컨테이너 너비에 맞춤 */
    height: 100%; /* 부모 컨테이너 높이에 맞춤 */
    padding: 20px; /* 내부 여백 추가 */
    border: 7px dashed #000000;
    border-radius: 8px;
    text-align: center;
    color: #ccc; /* 연한 회색 */
    box-sizing: border-box; /* 테두리와 패딩을 너비와 높이에 포함 */
}

.upload-box p {
    font-size: 1.5rem; /* 글자 크기 조정 */
    font-weight: bold; /* 굵은 글씨 */
    margin-bottom: 20px; /* input과의 간격 */
}

.file-input {
    display: none; /* 파일 입력 숨기기 */
}

.file-input + label {
    background-color: #f0f0f0; /* 라벨 배경색 */
    padding: 10px 20px;
    border-radius: 5px;
    color: #333; /* 라벨 글자색 */
    font-size: 1rem; /* 라벨 글자 크기 */
    cursor: pointer; /* 커서 모양 변경 */
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

button {
    padding: 10px 20px;
    font-size: 17px;
    margin: 10px;
    cursor: pointer;
    background-color: #43638a;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #666;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #31486a;
}

button:active {
    background-color: #6268bf;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}


/* Navbar 스타일링 */
.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px; /* 좌우 패딩을 줄임 */
    position: fixed;
    top: 0;
    left: 0; /* 수정: 위치를 화면 왼쪽 가장자리에 맞춤 */
    z-index: 2000;
    height: auto; /* 수정: 높이를 auto로 설정 */
    min-height: 60px; /* 추가: 최소 높이 설정 */
}

body {
    margin-top: 70px; /* 수정: body의 상단 마진 추가 */
}

@media (max-width: 600px) {
    .navbar {
        padding: 10px 15px; /* 수정: 모바일에서 패딩 조정 */
    }
    body {
        margin-top: 60px; /* 수정: 모바일에서 body 상단 마진 조정 */
    }
}

.navbar-logo a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-menu a.active {
    color: #000;
    font-weight: bold;
}

.navbar-menu a {
    text-decoration: none;
    color: #666;
    padding: 8px 10px;
    /* margin-left: 10px; */
    font-size: 1.5rem;
    /* transition: color 0.3s; */
}

.navbar-menu a:hover {
    color: #007BFF;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.file-display {
    font-size: 20px; /* 텍스트 크기 증가 */
    font-weight: bold; /* 텍스트를 굵게 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    margin: 30px 0; /* 상하 여백 증가 */
    padding: 15px; /* 패딩 증가 */
    background-color: black;
    color: white;
    border: 5px solid white; /* 테두리 두께 증가 */
    position: relative;
    width: 50%;
    border-radius: 10px; /* 테두리 둥글게 */
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.75); /* 밝은 흰색 그림자 추가 */
    letter-spacing: 2px; /* 글자 간격 */
}


.file-display::before {
    content: '';
    position: absolute;
    top: -5px; left: -5px; right: -5px; bottom: -5px;
    border: 2px solid black;
}

.image-box {
    flex: 0 1 150px; /* 이미지 박스는 축소 가능하지만 확장은 되지 않음, 기본 크기 150px */
    position: relative; /* 상대 위치 설정 */
    flex-shrink: 0; /* 이미지 크기가 축소되지 않도록 설정 */
    width: 30px; /* 이미지의 너비 설정 */
    height: auto; /* 이미지의 높이를 자동으로 조정 */
}


/* 로딩 오버레이 스타일 */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
    font-size: 1.0em;
    flex-direction: column;
}

.loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.container {
    opacity: 1;
    transition: opacity 2s;
}


/* Progress Bar Styles */
.progress-container {
    width: 70%; /* Control the width of the progress bar container */
    background-color: #ddd; /* Light gray background */
    padding: 3px; /* Small padding around the progress bar */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
    margin: 20px auto; /* Center the container horizontally */
}

.progress-bar {
    height: 20px; /* Set the height of the progress bar */
    background-color: #1b354f; /* Green color for the progress indicator */
    width: 0%; /* Initial state of the progress bar */
    border-radius: 3px; /* Rounded corners */
    transition: width 0.4s ease; /* Smooth transition for width changes */
    color: white; /* White text color */
    text-align: center; /* Center the text inside the progress bar */
    line-height: 20px; /* Align the text vertically */
}

.right-panel {
    position: fixed;
    top: 50%;  /* 화면의 중앙에 위치 */
    right: -300px;  /* 처음 위치는 화면 밖 */
    width: 500px;  /* 적당한 너비 설정 */
    padding: 20px;
    background-color: white;  /* 백그라운드 색상 */
    transition: right 1s ease-out;  /* 오른쪽으로 슬라이드 효과 */
    z-index: 1000;  /* 다른 요소 위에 나타나도록 설정 */
}


.footer {
    width: 100%;  /* 너비를 화면 전체로 설정 */
    position: fixed;  /* 화면 하단에 고정 */
    height: 30px;
    bottom: 0;
    background-color: #0c0d39;
    color: rgb(245, 245, 245);
    text-align: center;
    padding-top: 3px;
    padding-bottom: 55px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border-top: 1px solid #6c6a65;  /* 위쪽 테두리만 검은색으로 설정 */
    font-size: 25px;  /*글씨 크기*/
    font-weight: bold;  /*글씨 굵기*/
}
