@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    background-color: black;
    font-family: 'NEXON Lv1 Gothic OTF', Arial, sans-serif;
}

.logo-text {
    margin: 0.5em 0 1em 0; /* Reduce the margin */
    text-align: center;
    font-weight: bold;
    color: #048271;
    font-size: 2em; /* Smaller font size */
}

.signup-form {
    text-align: center;
    background-color: white;
    padding: 0.8em 2em; /* Reduced padding */
    border-radius: 12px;
    width: 650px; /* Reduced width */
    margin: 0 auto;
}

.input-section {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 레이블과 입력 필드를 양 끝에 배치 */
}

.input-section label {
    width: 100px; /* 레이블의 고정된 너비 */
    margin-right: 10px;
    font-weight: bold;
    text-align: left; /* 레이블 텍스트를 왼쪽으로 정렬 */
}

.input-section .input-group {
    flex: 1;
    display: flex;
    align-items: center;
}

.input-section input[type="text"],
.input-section input[type="password"],
.input-section input[type="email"] {
    flex: 1; /* 입력 필드가 가능한 최대 너비를 차지하도록 설정 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box;
    width: calc(100% - 110px); /* 레이블과 간격을 제외한 너비 */
}

.input-section button {
    padding: 10px;
    background-color: #fddc6e;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    height: 42px; /* 입력 필드와 높이를 맞춤 */
    font-family: 'NEXON Lv1 Gothic OTF', Arial, sans-serif;
}

.input-section button:hover {
    background-color: #fddc6e;
}

#idCheckMessage, #usernameCheckMessage, #emailCheckMessage {
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

.signup {
    text-align: center;
}

.signup button {
    background-color: #fddc6e;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'TheJamsil5Bold', Arial, sans-serif;
}

.signup button:hover {
    background-color: #fddc6e;
}
